h3 {
    text-align: center;
    padding-top: 9%;
}

#find-meaning {
    padding: 10px;
    margin: 10px;
    text-align: center;
}

#above-searchbar {

    display: block;

    width: 95%;
    height: 200px;
    background-color: #3A98B9;
    padding: 12px 20px;
}

#search-text {
    text-align: center;
    /* width: 100%; */
    padding: 12px 20px;
    background-color: #316B83;
    box-sizing: border-box;
}

#below-searchbar {
    padding: 12px 20px;

    width: 95%;
    height: 100%;
    background-color: #EEEEEE;
}

li {
    font-style: italic;
    font-family: cursive;
    font-size: 23px;
    padding-top: 20px;
    border-top-style: solid;
}